
.icon-basket:before { content: '\e800'; } /* '' */
.icon-truck:before { content: '\e801'; } /* '' */
.icon-wallet:before { content: '\e802'; } /* '' */
.icon-star-filled:before { content: '\e803'; } /* '' */
.icon-search:before { content: '\e804'; } /* '' */
.icon-github-circled:before { content: '\e807'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-instagram-1:before { content: '\f16d'; } /* '' */
.icon-diamond:before { content: '\f219'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */
